<ol class="breadcrumb bc-3" >
    <li>
        <a ui-sref="menu.content.staff.list">予见员工管理</a>
    </li>
    <li class="active">
        <strong>员工详情</strong>
    </li>
</ol>
<h2>予见员工管理</h2>
<br>
<div class="row staff-info">
    <form ng-submit="updateStaff()" name="form">
        <div class="col-sm-5">
            <h4>人员基础信息编辑</h4>
            <table class="table table-bordered">
    			<tbody>
                    <tr>
                        <td>ID</td>
                        <td>
                            {{staff.id}}
                        </td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td>
                            <input type="text" class="form-control"
                                name="name"
                                ng-model="post_data.name"
                                required>
                            <span class="error-msg"
                                 ng-show="(form.name.$dirty || submitted) && form.name.$error.required"
                            >请输入员工姓名</span>
                        </td>
                    </tr>
                    <tr>
                        <td>身份证件类型</td>
                        <td>
                            身份证
                        </td>
                    </tr>
                    <tr>
                        <td>证件号码</td>
                        <td>
                            <input type="text" class="form-control"
                                ng-model="post_data.id_number"
                                name="id_number"
                                >
                            <span class="error-msg"
                                 ng-show="(form.id_number.$dirty || submitted) && form.id_number.$error.required"
                            >请输入证件号码</span>
                        </td>
                    </tr>
                    <tr>
                        <td>员工性别</td>
                        <td>
                            <select class="form-control" ng-model="post_data.gender"
                                name="gender" required>
                                <option value=""></option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                            <span class="error-msg"
                                 ng-show="(form.gender.$dirty || submitted) && form.gender.$error.required"
                            >请选择员工性别</span>
                        </td>
                    </tr>
                    <tr>
                        <td>生日</td>
                        <td>
                            <datepicker
                                date-format="yyyy-MM-dd"
                                date-typer="true"
                                class="picker"
                            >
                                <input
                                    ng-model="post_data.birthday"
                                    type="text"
                                    class="form-control"
                                    name="birthday"

                                />
                            </datepicker>
                            <span class="error-msg"
                                 ng-show="(form.birthday.$dirty || submitted) && form.birthday.$error.required"
                            >请输入生日</span>
                        </td>
                    </tr>
                    <tr>
                        <td>手机号码</td>
                        <td>
                            <input type="text" class="form-control"
                                ng-model="post_data.mobile"
                                name="mobile"
                                >
                            <span class="error-msg"
                                 ng-show="(form.mobile.$dirty || submitted) && form.mobile.$error.required"
                            >请输入手机号码</span>
                        </td>
                    </tr>
                    <tr>
                        <td>邮箱地址</td>
                        <td>
                            <input type="text" class="form-control"
                                ng-model="post_data.email"
                                name="email"
                                >
                            <span class="error-msg"
                                 ng-show="(form.email.$dirty || submitted) && form.email.$error.required"
                            >请输入邮箱地址</span>
                        </td>
                    </tr>
    			</tfoot>
    		</table>
        </div>
        <div class="col-sm-12 save-button">
            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary"
                        style="width: 100%;max-width: 120px;">保存</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger"
                        style="width: 100%;max-width: 120px;"
                        ng-click="deleteStaff()">删除</button>
                </div>
            </div>
        </div>
    </form>

</div>
<hr>

<h4>
    岗位信息编辑
    <button type="button" class="btn btn-sm btn-primary"
        style="margin-left:20px;"
        ui-sref="menu.content.staff.detail.bindDepartment({
            staff_id:staff.id})">
        新建
    </button>
</h4>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered datatable">
			<thead>
				<tr>
                    <th>No</th>
                    <th>部门</th>
                    <th>职位</th>
                    <th>在职状态</th>
                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
                <tr ng-repeat="department_staff in department_staff_list">
                    <td>{{$index + 1}}</td>
                    <td>{{department_staff.department__name}}</td>
                    <td>{{department_staff.position__position}}</td>
                    <td>{{department_staff.status == 'A' ? '已激活' : '未激活'}}</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                            ui-sref="menu.content.staff.detail.bindDepartment({
                                staff_id:staff.id,
                                relation_id:department_staff.id
                            })"
                        >编辑</button>
                    </td>
                </tr>
			</tfoot>
		</table>
    </div>
</div>
